<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Register </title>
        <style> 
        .jumbotron {
	
  background-blend-mode: overlay;
}
        </style>

    </head>
    <body>
        <header>
            <div class="jumbotron">
                <h1 class="display-4">CoderSchool Academic Dashboard!</h1>
                <p class="lead">This is a beta page for accessing to current classes quality tracking. All of the data are presented by Google Data Studio.</p>
              <hr>
              <p>Still in Progress! But yeah, this is first step :))))</p>
              </div>
          </header>
          <div class="menu">
              <div class="container">
              <div class="row">	
                  <div class="col-md-4">
                      <div class="card">
                        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/1586/1586510.svg" height="300px" class="hero-image" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Machine Learning Report</h5>
                          <p class="card-text">Start Date: February 18th 2019.</p>
                    <input type="button" value="Learn more" onclick="window.open('https://datastudio.google.com/open/1EUg_oN87uKgmCwCidZ6V-URxpgBaEjgB')" />
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card">
                        <img class="card-img-top" src="https://camo.githubusercontent.com/7668b0290c90a36525240726752b820362921410/68747470733a2f2f692e696d6775722e636f6d2f764a66496949642e706e67" height="300px" class="hero-image" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Golang</h5>
                          <p class="card-text">Start Date: April 16th 2019.</p>
                    <input type="button" value="Learn more" onclick="window.open('https://datastudio.google.com/reporting/1kiN4oUjPiOjHe1mb6KKe1UxaE3TLqj8D/page/YURn')" />
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card">
                        <img class="card-img-top" src="https://az158878.vo.msecnd.net/marketing/Partner_21474842728/Product_42949680994/Asset_d0d2b57d-f12d-4215-910f-a938bf2e2814/STOArtwork300x30001.png" height="300px" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Data Analysis with Python</h5>
                          <p class="card-text">Start Date: April 22nd 2019.</p>
                    <input type="button" value="Learn more" onclick="window.open('https://datastudio.google.com/reporting/1vo18WPMzL4aw9luCAO9EkFKBGmBEXjSw/page/YURn')" />
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <footer></footer>
          
           

        
    </body>



</html>