{% extends 'layout.html' %}
{% block body %}
<img src="{{ url_for('static', filename='online_summary.png') }}">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Generated summary</h2>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">

                        {% for qa in cresults %}

                        {% endfor %}
                        
        </div>
    </div>
            </div>
        </div>
            <script>
                $(document).ready(function() {
                $('#example').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                } );
            } );
            </script>
{% endblock %}